## data dirs
Next-Generation-Natural-Language-Processing-with-Python/Section 2/data/
Next-Generation-Natural-Language-Processing-with-Python/Section 4/data/
Next-Generation-Natural-Language-Processing-with-Python/Section 5/data/
Next-Generation-Natural-Language-Processing-with-Python/Section 6/data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
/Hands-on-NLP-with-NLTK-and-scikit-learn/Section 2/enron
/Hands-on-NLP-with-NLTK-and-scikit-learn/Section 3/movie_reviews
/Hands-on-NLP-with-NLTK-and-scikit-learn/Section 4/movie_reviews
/Hands-on-NLP-with-NLTK-and-scikit-learn/Section 5/20_newsgroups
/Hands-on-NLP-with-NLTK-and-scikit-learn/Section 6/20_newsgroups
/Next-Generation-Natural-Language-Processing-with-Python/Section 4/data
/Next-Generation-Natural-Language-Processing-with-Python/Section 2/data
/Next-Generation-Natural-Language-Processing-with-Python/Section 5/data
/Next-Generation-Natural-Language-Processing-with-Python/Section 5/dict.pkl
/Next-Generation-Natural-Language-Processing-with-Python/Section 5/lda.pkl
/Next-Generation-Natural-Language-Processing-with-Python/Section 5/lda10.pkl
/Next-Generation-Natural-Language-Processing-with-Python/Section 5/lsi_tfidf.pkl
/Next-Generation-Natural-Language-Processing-with-Python/Section 5/lsi.pkl
/Next-Generation-Natural-Language-Processing-with-Python/Section 5/tfidf_lda_10.pkl
/Next-Generation-Natural-Language-Processing-with-Python/Section 5/tfidf_lda.pkl
/Next-Generation-Natural-Language-Processing-with-Python/Section 5/tfidf.pkl
/Next-Generation-Natural-Language-Processing-with-Python/Section 6/data
/nlp_and_comp_n_ling/docs
/nlp_for_hackers/part2/data
/nlp_for_hackers/part3/data
/sklearn/data
/sklearn/.ipynb_checkpoints